body{
    /* margin: 0px;
    padding: 0px;
    background-color: #F6E6D6; */
}
h1{
text-align: right;
font-family: cursive;
}
.top-container{
    margin: auto 400px;
    margin-bottom: 20px;
}

.top-container p{

}

.top-container img{
    /* border: 5px inset black;*/
    width: 20px;
}

.middle-container{
    border: 3px solid black;
    padding: 0px 20px;
    text-align: center;
    margin: 10px 400px;
    border-radius: 10px;
}

.upcoming-events{
    float: clear;
    display: inline-block;
    border: 2px solid black;
    /* margin: 25px 100px; */
    padding: 10px 25px;
    text-align: left;
    font-size: larger;
    color:brown;
    border-radius: 5px;
    background-color: #F9A913;
}

h2{
    margin: 20px 10px 5px 400px;
    display: inline;
}

.stylebutton{
    margin:10px;
}

.style-button{
    text-align: left;
    margin: auto;
    padding: 5px 100px;
    background-color: #FE3317;
    color: black;
    display:block;
    font-size: 2000%;
}

.style-button:hover{
    color:white;
    background-color: black;
}

.bottom-container{
    border: 3px solid black;
    padding: 10px 20px;
    text-align: left;
    margin: 10px 400px;
    border-radius: 10px;
    background-color:#F4D002;

}

.article{
    padding-bottom: 0px;
}

.article-name{
    font-weight: bold;
}

.scientist-input{
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

form{
    margin-bottom: 50px;
}
#ue1{
margin-left: 0px;
margin-right: 150px;
}

#ue2{
    margin: 25px auto;
}

#ue3{
    margin-left: 150px;
}

.event-name{
    /* font-weight: bold; */
}