body{
    /* margin: 0px;
    padding: 0px;
    background-color: #F6E6D6; */
}
h1{
text-align: right;
font-family: cursive;
}
.top-container{
    margin: auto 10%;
    margin-bottom: 20px;
}

.top-container p{

}

.top-container img{
    /* border: 5px inset black;*/
    width: 20px;
}

.middle-container{
    border: 3px solid black;
    padding: 10px 20px;
    text-align: center;
    margin: auto 10%;
    border-radius: 10px;
}

.upcoming-events{
    float: clear;
    display: inline-block;
    border: 2px solid black;
    padding: 10px;
    margin: auto;
    text-align: center;
    font-size: larger;
    color:brown;
    border-radius: 5px;
    background-color: #F9A913;
    width: 250px;
    max-width: 300px;
    height: 150px;
    max-height: 150px;
}

h2{
    margin: auto 10%;
    display: inline;
    margin-bottom: 25px;
}

.stylebutton{
    margin:10px;
}

.style-button{
    text-align: left;
    margin: auto;
    padding: 5px 100px;
    background-color: #FE3317;
    color: black;
    display:block;
    font-size: 2000%;
}

.style-button:hover{
    color:white;
    background-color: black;
}

.bottom-container{
    border: 3px solid black;
    padding: 10px 20px;
    text-align: left;
    margin: auto 10%;
    border-radius: 10px;
    background-color:#F4D002;

}

.article{
    padding-bottom: 0px;
}

.article-name{
    font-weight: bold;
}

.favScientist{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10%;
    margin-right: 5px;
}

.scientist-input{
margin: 0px;
height: 20px;
}

form{
    margin-bottom: 50px;
}

#ue1{
margin-left: 0;
margin-right: 50px;
float: left;
}

#ue2{
    margin: 0;
    float: center;
}

#ue3{
    margin-left: 50px;
    float: right;
}

.event-name{
    /* font-weight: bold; */
}

